    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Firmware</h2>
                    <p>You can download the firmware for the arudino and modify it as you see fit just please leave the header intact.</p>
                    <a href="https://github.com/TemplarGalactic/flightcontroller/releases" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
